@import "tailwindcss";

.lmc-badge{
    background: #e7eaee !important; 
    color:white !important;
    font-size: 12px !important;
    border-radius: 50% !important;
    cursor: pointer !important;
    right: 2.3rem !important;
    display: inline-flex !important;
    align-items: center !important;
    justify-content: center !important;
    width: 25px !important;
    height: 25px !important;
    position: relative !important;
    bottom: 1.3rem !important;
}

.lmc-tooltip{
    position:absolute !important;
    background: #415A77 !important;
    color: white !important;
    padding: 6px !important;
    font-size: 12px !important;
    border-radius: 4px !important;
    display: none !important;
    width: 200px !important;
    top: 30px !important;
    right: 50% !important;
    z-index: 1000 !important;
}

.lmc-badge:hover .lmc-tooltip{
    display: block !important;
}

.tooltip-header {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.tooltip-section {
    padding: 5px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.tooltip-section:last-child {
    border-bottom: none;
}